<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
 	<h1> HelloWorld!! </h1>
    <h3> Sling Properties Object </h3>
    <p> Page Tile: ${properties.jcr:title} </p>

    <h3> Page Details </h3>
    <p> current page title: ${currentPage.Title} </p>
    <p> current page name: ${currentPage.Name} </p>
    <p> current page path: ${currentPage.Path} </p>
    <p> Current page depht: ${currentPage.Depth} </p> 

    <h3> Node Details </h3>
    <p> current node name: ${currentNode.Name} </p>
    <p> current node path: ${currentNode.Path} </p>
    <p> current node depht: ${currentNode.Depth} </p>
</body>
</html>

